		<title>{% if page.category %}{{ categorycase }}: {{ page.title | capitalize }} | Courtesy of ₠Quantum Project{% elsif page.title %}{{ page.title }} | ₠Quantum Project - System Mapping and Definition{% else %}₠Quantum Project | A Unique Mapping System - Open Source{% endif %}</title>
