{%- capture nodes                 -%}
{%-   include tabs.liquid size=9  -%}<ul class="sf-menu">
{%-   include tabs.liquid size=10 -%}<li data-type="main" class="toc level-1" aria-level="0"><a href="/" id="home" title="{{ stages | first }}*: Spin 168=π(1000) as Lexer and 618=1000/Φ as Parser" class="d-flex flex-items-baseline">home</a>
{%-   include tabs.liquid size=11 -%}<ul>
{%-   include tabs.liquid size=12 -%}<li data-type="group" class="toc level-2" aria-level="0"><a href="/grammar/1" id="group-1" title="group-1" class="d-flex flex-items-baseline">group-1</a>
{%-   include tabs.liquid size=13 -%}<ul>{{- nodes -}}
{%-   include tabs.liquid size=13 -%}</ul>
{%-   include tabs.liquid size=12 -%}</li>
{%-   include tabs.liquid size=11 -%}</ul>
{%-   include tabs.liquid size=10 -%}</li>
{%-   include tabs.liquid size=10 -%}<li data-type="main" class="toc level-1" aria-level="4"><a href="/grammar" id="grammar" title="Current: {{ title }} of {{ note }} from Mapping: {{ stages | first }}" class="d-flex flex-items-baseline">grammar</a></li>
{%-   include tabs.liquid size=9  -%}</ul>
{%- endcapture                    -%}
