		{%- include tabs.liquid size=2 -%}{%- include social_media.html -%}
		{%- include tabs.liquid size=2 -%}<footer id="footer" class="color_9">
			<div class="container">
				<div class="row">
					<div class="grid_12">
						<p class="info text_4 color_4">
							Copyright © <span id="copyright-year"></span> | <a href="https://github.com/eq19">₠Quantum Project</a> <br/>
							Website designed by <a href="http://store.templatemonster.com/?aff=hyiptheme" rel="nofollow">TemplateMonster.com</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="/js/app.js"></script>
