---
layout: tasks/compress
---

{%- include extra/rest/defaults.liquid -%}
{%- include leads/rest/defaults.liquid -%}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ direction }}">
	<head>
	{%- if branch == "eQ19" -%}
		{%- include leads/metadata.liquid -%}
		{%- include leads/cards.liquid -%}
		{%- include leads/opengraph.liquid -%}
		{%- include leads/links.liquid -%}
		{%- include leads/title.liquid -%}
		{%- include leads/script.liquid -%}
		{%- include leads/schema.liquid -%}
		{%- include leads/gtag.liquid %}
	</head>
	<body>
		{%- include leads/noscript.liquid -%}
		{%- include templates/content.liquid -%}
		{%- include templates/addons.liquid -%}
		{%- include extra/body.html -%}
		{%- include leads/mermaid.liquid -%}
		{%- include leads/mathjax.liquid -%}
		{%- include leads/adsense.liquid -%}
		{%- include leads/sumo.liquid -%}
	{%- else -%}
		{%- for section in sections -%}
			{{- section.output -}}
		{%- endfor -%}
	{%- endif %}
	</body>
</html>
